body {
    background-color: black
}
.wit {
    color: white;
}
.wit {
    text-align: center;
}
.wit {
    font-size: 70px
}
.center {
    text-align: center;
}
.center {
    color:white
}
.center {
    font-size: 3em;
}
.pwit {
    color:white;
}
.centersmall {
    text-align: center;
}
.centersmall {
    color:white
}
.buttoncenter {
    text-align: center;
}